.message-container {
  display: flex;
  width: 100%;
  margin-top: 24px;
}

.username {
  font-weight: 700;
  font-size: 14px;
  margin-right: 10px;
}

.time {
  font-size: 12px;
  color: var(--text-gray);
  margin-top: 1px;
}

.message-contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 15px;
}

.message-header {
  display: flex;
}

.message-text {
  font-size: 14px;
  margin-top: 4px;
}

.avatar {
  border-radius: 10px;
  height: 40px;
  width: 40px;
}