* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

h1 {
  margin: 0;
}

body {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  --border-gray: #d9d9d9;
  --text-gray: #a1a1a1;
  --orange: #FF982B;
  --dark-orange: #EB8C28;
  --box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1), 0 3px 17px 0 rgba(0,0,0,0.1);
}

h1, p, input, button, input::placeholder {
  font-family: Arial, sans-serif;
}

.container {
  margin-bottom: 50px;
}

.card {
  box-shadow: var(--box-shadow);
}

/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
